*{
    margin: 0;
    padding: 0;
    font-family: century;
}
h1{
    margin-top: 30px;
    margin-left: 15px;
    color: black;
}
.main{
    margin-left: 1100px;
    
    
  
    
}
h2{
    margin-left: 120px;
    padding-bottom: 20px;
}
button{
    margin-left: 220px;
    margin-bottom: 30px ;
}
.val{
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.some{
    margin-left: 500px;
    padding-bottom: 20px;

}
h5{
    margin-left: 600px;
}
footer{
    margin-left:550px;
}


